/**********************************************
*** © Linguagens Script > DEIS > ISEC > IPC 
*** Sopa de letras em React
*** Estilos App.js 
**********************************************/
#container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 0;
  padding: 15px 20px 10px 20px;
  background-color: #fff;
  color: grey;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  align-items: center;
  width: 750px;
  min-width: 450px;
  border-radius: 10px;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}